<%= form_for @article do |the_form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= the_form.label :title %><br>
  <%= the_form.text_field :title %>
  </p>

   <p>
  <%= the_form.label :text %><br>
  <%= the_form.text_area :text %>
  </p>

  <p>
  <%= the_form.submit %>
  </p>
<% end %>
